<nav>
    <% if(user) { %>
    <div>
        <h2><%= user.username %></h2>
    </div>
    <div>
        <a href="/logout">Logout</a>
    </div>
    <% }else{ %>
    <div>
        <h2></h2>
    </div>
    <div>
        <a href="/signup">Sign Up</a>
        <a href="/login">Login</a>
    </div>
    <% } %>
</nav>
