<div class="dashboard">
    <div class="dashboard_h2">
        <i class="fa-brands fa-dashcube"></i>
        <h2 class="">Dashboard</h2>

    </div>
    <a href="/users_list" class="list_btn products_list_btn">
        <i class="fa-solid fa-users"></i>
        <h3>Users</h3>
    </a>
    <a href="/products_list" class="list_btn products_list_btn">
        <i class="fa-solid fa-store"></i>
        <h3>Products</h3>
    </a>

</div>