<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/style.css">

    <title>Home</title>
</head>
<body class="home_body animated_body">



    <%- include('partials/header') %>
    <div class="container">
        
        <h1>WELCOME HOME</h1>
        <div>
            <a href="/products">Products</a>
            <a href="/dashboard">Admin Dashboard</a>
        </div>

    </div>




</body>
</html>




